# Load the file “zoo.data” and look at the info and first five rows. The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

In [1]:
# read data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("zoo.csv")
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

## Find out the unique number of high level class.

In [2]:
#print(df.class_type.unique)

print('Unique number of high level class')
df['class_type'].nunique()

Unique number of high level class

7

# Use the 16-intermediate feature and perform an agglomerative clustering.[ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]

In [3]:
df.iloc[:5,1:17]

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [4]:
from sklearn.cluster import AgglomerativeClustering
import numpy as np
X = df.iloc[:,1:17].values
cluster = AgglomerativeClustering(n_clusters=22, affinity='euclidean', linkage='ward')  
cluster.fit_predict(X)
print(cluster.labels_)

[ 4  8  2  4  4  8 14  2  2 14  4 11  2  0  3  3  7  8 16 20 11  9  8  9
 12 13 13 15  8  1 12 14  1  7  2 14 10  7  2 19 12 21 12 11  4  4  3  4
  4 10  4 12 13 17 10  8  9 11 21 11 16  2  5  6  4 14 20  4 14  4 14 21
 18  2 20  1  5  0  7  7  5  0  2 11 15  3 16  9 12 13  6 13 16 15 10  7
  1 19  4  0 11]

# Compute the mean squared error by comparing the actual class and predicted high level class.

In [5]:
from sklearn import metrics
calc_accuracy = metrics.accuracy_score(df['class_type'],cluster.labels_)
print("Accuracy::",calc_accuracy)

Accuracy:: 0.039603960396039604